<h1>movies</h1>

<% all_movies = Movie.read %>
<%= all_movies.inspect %>

<ul>
  <% movie = Movie.first %>
   <li><%= movie["title"] %></li>
  <% movie = Movie.last %>
   <li><%= movie["title"] %></li>
</ul>

<ul>
  <% all_movies = Movie.read %>
  <% all_movies.each do |movie| %>
    <li><%= movie["title"] %> (<%= movie["year"] %>)</li>
  <% end %>
</ul>
